<!html>
<head>
    <title>Five Crowns: Hand Analysis</title>
    <style>
        body { background: #ccc; }

        .spades { color: black; }
        .hearts { color: red; }
        .clubs { color: green; }
        .diamonds { color: blue; }
        .stars { color: yellow; }
    </style>
</head>
<body>
<p>
    Hand:
    {% for card in game["hand"] %}
        {{ card | safe }}
    {% endfor %}
    [ wilds: {{ game["wilds"] }} ]
    => {{ game["current_score"] }}
</p>
<p>
    {% for match in game["current_configuration"]["matches"] %}
        [
        {% for card in match %}
            {{ card | safe }}
        {% endfor %}
        ]
    {% endfor %}
    (
    {% for card in game["current_configuration"]["remaining"] %}
        {{ card | safe }}
    {% endfor %}
    )
</p>
<p>
   Scenarios (expected score: {{ game["expected_score"] }}):
   <ul>
       <li>
           * : {{ game["wild_scoring_hand"] | safe }} => {{ game["wild_score"] }}
       </li>
       {% for draw, configuration, score in game["scenarios"] %}
           <li>
               {{ draw | safe }} :

               {% for match in configuration["matches"] %}
                   [
                   {% for card in match %}
                       {{ card | safe }}
                   {% endfor %}
                   ]
               {% endfor %}
               (
               {% for card in configuration["remaining"] %}
                   {{ card | safe }}
               {% endfor %}
               )

               => {{ score }}
           </li>
       {% endfor %}
    </ul>
</p>
</body>
