<!html>
<head>
    <title>Five Crowns: Hand Analysis</title>
    <style>
        body { background: #ccc; }

        .spades { color: black; }
        .hearts { color: red; }
        .clubs { color: green; }
        .diamonds { color: blue; }
        .stars { color: yellow; }
    </style>
</head>
<body>
<p>
    Hand:
    {% for card in game["hand"] %}
        {{ card | safe }}
    {% endfor %}
    [ wilds: {{ game["wilds"] }} ]
</p>
<p>
    {% with configuration = game["current_configuration"] %}
        {% include "_configuration.html" %}
    {% endwith %}
</p>
<p>
    Expected score: {{ game["expected_score"] }}
</p>
<p>
    Chart:
    <img src="data:image/png;base64,{{ game["chart_embed"] }}"\>
</p>
<p>
   Scenarios:
   <ul>
       <li>
           * :
           {% with configuration = game["wild_configuration"] %}
               {% include "_configuration.html" %}
           {% endwith %}
       </li>
       {% for draw, configuration, score in game["scenarios"] %}
           <li>
               {{ draw | safe }} :

               {% include "_configuration.html" %}
           </li>
       {% endfor %}
    </ul>
</p>
</body>
