<!html>
<head>
    <title>Five Crowns: Play</title>
    <style>
        body { background: #ccc; }

        .spades { color: black; }
        .hearts { color: red; }
        .clubs { color: green; }
        .diamonds { color: blue; }
        .stars { color: yellow; }
    </style>
</head>
<body>
{% include "_hand.html" %}
<p>
    Discard: {{ game["discard_top"] | safe }}
</p>
<p>
    Status:
    {% if game["out"] %}
       OUT
    {% else %}
       Not out
    {% endif %}
</p>
<form id="play-form" action="/play" method="POST">
    {% if game["state"] == "discard" %}
        {% for card in game["hand"] %}
            <button
                name="move"
                value="discard-{{loop.index - 1}}"
                type="submit"
                form="play-form"
            >
                Discard {{ card | safe }}
            </button>
        {% endfor %}
    {% elif game["state"] == "draw" %}
        <button type="submit" name="move" value="draw">Draw!</button>
        <button type="submit" name="move" value="take">Take {{ game["discard_top"] | safe}}!</button>
    {% elif game["state"] == "reset" %}
        <button type="submit" name="move" value="reset">Continue!</button>
    {% endif %}
</form>
</body>
