<!html>
<head>
    <title>Five Crowns: Play</title>
    <style>
        body { background: #ccc; }

        .spades { color: black; }
        .hearts { color: red; }
        .clubs { color: green; }
        .diamonds { color: blue; }
        .stars { color: yellow; }
    </style>
</head>
<body>
{% include "_hand.html" %}
<p>
    Discard: {{ game["discard_top"] | safe }}
</p>
<p>
    Status:
    {% if game["out"] %}
       OUT
    {% else %}
       Not out
    {% endif %}
</p>
<form id="play-form" action="/play" method="POST">
    {% for card in game["hand"] %}
        <button
            name="move"
            value="discard-{{loop.index - 1}}"
            type="submit"
            form="play-form"
        >
            Discard {{ card | safe }}
        </button>
    {% endfor %}
    <button type="submit" name="move" value="draw">Draw!</button>
</form>
</body>
